/* --------------------------------------- */
/* -------- ANIMATION KEY FRAME ---------- */
/* --------------------------------------- */


@keyframes snake{

    0% {
        -webkit-transform:  translateX( 0 );
        transform: translateX( 0 );
    }

    50% {
        -webkit-transform: translateX( 1.5px );
        transform: translateX( 1.5px );
    } 

    100% {
        -webkit-transform: translateX( 0 );
        transform: translateX( 0 );
    }

}



@keyframes shake{

    0% { 
        -webkit-transform: translate( 0,0 );
        transform: translate( 0,0 ); 
    }

    1.78571% {
        -webkit-transform: translate( 5px,0 );
         transform: translate( 5px, 0 ); 
    }

    3.57143% { 
        -webkit-transform: translate( 0,0 );
        transform: translate( 0,0 ); 
    }

    5.35714% { 
        -webkit-transform: translate( 0,0 );
        transform: translate( 5px,0 ); 
    }

    7.14286% { 
        -webkit-transform: translate( 0,0 );
        transform: translate( 0,0 ); 
    }

    8.92857% { 
        -webkit-transform: translate( 0,0 );
        transform: translate( 5px, 0 ); 
    }

    10.71429% { 
        -webkit-transform: translate( 0,0 );
        transform: translate( 0,0 ); 
    }

    100% { 
        -webkit-transform: translate( 0,0 );
        transform: translate( 0,0 ); 
    }


}