.container-landing-page{
    background-image: url( '../images/germany.jpg' );
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;

    .container-title{ 
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;

    }

    .container-overflow{
        position: absolute;
        left:0;
        bottom:0;
        overflow: hidden;
        height: 50%; 
        text-align: center;
        width: 100%;

        .container-sign-in{
            position: absolute;
            bottom: 100px;
            left:0;
            right:0;
        
        }
    
        .container-login{

            position: absolute;
            left:0;
            right:0;
            transition: .5s;
            bottom: -100%;
            margin: auto;

            input{
                width: 80%;
                margin-bottom: 25px;
            }

          
        }
    }

}

/* --------------------------------------- */
/* -------- CONTAINER WRONG PASS --------- */
/* --------------------------------------- */

.container-wrong-password {

    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index:999;
    background-color: rgba( 0,0,0,0.8 );
    text-align: center;

    h1{
        line-height: 100vh;
    }
}

/* --------------------------------------- */
/* -------- PAGE HAPPY BIRTHDAY ---------- */
/* --------------------------------------- */

$c-blue: rgba( 15, 70, 125, 0.8 );
$c-pink: rgba( 255, 150, 203, 0.8 );
$c-yellow: rgba( 238, 221, 130, 0.8 );
$c-orange: rgba( 255, 87, 51, 0.8 );
$c-green: rgba( 111, 201, 41, 0.8 );
$c-red: rgba( 254, 9, 9, 0.8 );
$c-purple: rgba( 120, 9, 254, 0.8 );

#page-happy-birthday{
    height: 100vh;
    text-align: center;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.container-happy-birthday{
    background-color: #a4d05f;
    position: relative;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    width: 100%;

    .container-title{
        padding-top: 10%;
        position: relative;
        z-index: 9999;

        span{
            text-transform: uppercase;
            color: white;
            font-size: 50px;
        }
    }

    .b, .last-b{
        height: 140px;
        width: 104px;
        border-radius:80% 80% 80% 80%;
        position: absolute;
        left:0;
        bottom: -100vh;
        transition: 5s;

        .triangle{
            position: absolute;
            bottom: -5px;
            left:0;
            right:0;
            margin: auto;
            width: 10px;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;      
            border-bottom: 10px solid black;

        }
        .line{
            position: absolute;
            left:0;
            right:0;
            top: 145px;
            margin: auto;
            width: 2px;
            height: 150px;
            background-color: white;
        }
    }

    .last-b{

        left:0 !important;
        right:0;
        margin: auto;
        transition: 3s;

        .rond-line{
            position: absolute;
            left:0;
            right:0;
            bottom:-10px;
            margin: auto;
            width: 4px;
            height: 4px;
            border-radius: 50%; 
            background-color: white;

            -webkit-animation: snake 1s infinite;
            animation: snake 1s infinite;

            &:nth-child( 2 ) {
                bottom: -15px;
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
            }
            &:nth-child( 3 ) {
                bottom: -21px;
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
            }
            &:nth-child( 4 ) {
                bottom: -26px;
                -webkit-animation-delay : 0.6s;
                animation-delay: 0.6s;
            }
            &:nth-child( 5 ) {
                bottom: -31px;
                -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
            }
            &:nth-child( 6 ) {
                bottom: -36px;
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
            }
            &:nth-child( 7 ) {
                bottom: -41px;
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
            }
            &:nth-child( 8 ) {
                bottom: -46px;
                -webkit-animation-delay: 1.4s;
                animation-delay: 1.4s;
            }
            &:nth-child( 9 ) {
                bottom: -51px;
                -webkit-animation-delay: 1.6s;
                animation-delay: 1.6s;
            }
            &:nth-child( 10 ) {
                bottom: -56px;
                -webkit-animation-delay: 1.8s;
                animation-delay: 1.8s;
            }
            &:nth-child( 11 ) {
                bottom: -61px;
                -webkit-animation-delay: 2s; 
                animation-delay: 2s;
            }
            &:nth-child( 12 ) {
                bottom: -66px;
                -webkit-animation-delay: 2.2s;
                animation-delay: 2.2s;
            }
            &:nth-child( 13 ) {
                bottom: -71px;
                -webkit-animation-delay: 2.4s;
                animation-delay: 2.4s;
            }
            &:nth-child( 14 ) {
                bottom: -76px;
                -webkit-animation-delay: 2.6s;
                animation-delay: 2.6s;
            }
            &:nth-child( 15 ) {
                bottom: -81px;
                -webkit-animation-delay: 2.8s;
                animation-delay: 2.8s;
            }
            &:nth-child( 16 ) {
                bottom: -86px;
                -webkit-animation-delay: 3s;
                animation-delay: 3s;
            }
            &:nth-child( 17 ) {
                bottom: -91px;
                -webkit-animation-delay: 3.2s;
                animation-delay: 3.2s;
            }
            &:nth-child( 18 ) {
                bottom: -96px;
                -webkit-animation-delay: 3.4s;
                animation-delay: 3.4s;
            }
           
        }


    }

    .b-blue{
        left:0;
        background-color: $c-blue;
        box-shadow:inset 10px 10px 10px darken( $c-blue , 10%);

        .triangle{
            border-bottom: 10px solid $c-blue;
        }
    }

    .b-orange{
        left: calc( 100% - 104px );
        background-color: $c-orange;
        box-shadow:inset 10px 10px 10px darken( $c-orange , 10%);

        .triangle{
            border-bottom: 10px solid $c-orange;
        }
    }

    .b-pink{
        left: calc( 50% - 104px );
        background-color: $c-pink;
        box-shadow:inset 10px 10px 10px darken( $c-pink , 10%);

        .triangle{
            border-bottom: 10px solid $c-pink;
        }
    }

    .b-green{
        left: calc( 75% - 104px );
        background-color: $c-green;
        box-shadow:inset 10px 10px 10px darken( $c-green , 10%);

        .triangle{
            border-bottom: 10px solid $c-green;
        }
    }

    .b-yellow{
        left: calc( 80% - 104px );
        background-color: $c-yellow;
        box-shadow:inset 10px 10px 10px darken( $c-yellow , 10%);

        .triangle{
            border-bottom: 10px solid $c-yellow;
        }
    }

    .b-red{
        left: calc( 30% - 104px );
        background-color: $c-red;
        box-shadow:inset 10px 10px 10px darken( $c-red , 10%);

        .triangle{
            border-bottom: 10px solid $c-red;
        }

    }

    .b-purple{

        left: 20%;
        background-color: $c-purple;
        box-shadow:inset 10px 10px 10px darken( $c-purple , 10%);

        .triangle{
            border-bottom: 10px solid $c-purple;
        }

    }

    .container-btn{
        position: absolute;
        bottom: 10%;
        left:0;
        right:0;
        margin: auto;
        text-align: center;

        .btn-balloon{

            display: none;
            padding: 15px 25px;
            background-color: $c-blue;
            border: 0;
            color: white;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: .5mm;
        }
    }

}

.container-happy-birthday-answer{

    position: fixed;
    bottom: -100%;
    left:0;
    z-index:9999999;
    background-color: #a4d05f;;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .5s;

    .square{
        height:50px;
        width: 50px;
        background-color: white;
        margin: auto;
        margin-top: 20px;
        display: block;
    }

    
    .container-title{
        padding-top: 20px;
        
        h1{
            text-transform: uppercase;
            color: white;
            font-size: 40px;
        }
    }

    input{
        margin-top: 100px;
        width: 70%;
        float: left;
        padding-right:15px;
    }
    .btn-arrow{
        width: 20%;
        height: 50px;
        margin-top: 85px;
        float: right;
        background-color: black;
        text-align: center;

        i{
            color: white;
            line-height: 50px;
            font-size: 20px;
        }
    }
    .container-answer{
        display: none;
        position: absolute;
        left:0;
        right:0;
        bottom: 50px;
        margin: auto;
        text-align: center;

        h2{
            text-transform: uppercase;
            color: white;
            font-size: 30px;
        }
    }


}

/* --------------------------------------- */
/* ------------- PAGE HEART -------------- */
/* --------------------------------------- */

#page-heart{
    overflow: hidden;
}

.container-page-heart{

    background-color: #f7b2c5;
    position: relative;
    height: 100vh;
    text-align: center;
    width: 100%;
    left: -100vw;

    transition: .3s;

    .container-title{
        padding-top: 10%;
    }

    .container-heart{

        img{
            -webkit-transform: scale( 0 );
            transform: scale( 0 );
            -webkit-transition: .6s;
            transition: .6s;
            max-height: 600px;
        }

    }

    .container-lock{

        position: absolute;
        right: 0;
        bottom: 20px;
        cursor: pointer;
        width: 100%;
        color: white;

        span,i{
            font-size: 22px;
        }

        .container-i{
            width: 15%;
            float: left;

            i{
                margin-left: 10px;
                font-size: 30px;
                float: right;        
            }

            .shake{
                -webkit-animation: shake 3s infinite ease-in-out;
                -webkit-transform-origin: 50% 50%; 
                transform-origin: 50% 50%;   
            }
    
            
        }

        .container-input{
            width: 85%;
            float: left;

            input{
                float: right;
                padding-bottom: 0;
                width: 0;
                -webkit-transition: .3s;
                transition: .3s;
            }
        }



    }

}

/* --------------------------------------- */
/* ---------- PAGE SQUARE RIDDLE --------- */
/* --------------------------------------- */

#page-square-riddle{
    overflow: hidden;
}

.container-page-square-riddle{

    background-color: #2172c3;
    position: relative;
    height: 100vh;
    text-align: center;
    width: 100%;
    right: -100vw;
    transition: .3s;

    .container-all-square{

        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        max-width: 100%;
        width: 100%;
        margin: auto;
        height: 500px;

        .container-square{

            padding-left: 5px;
            padding-right: 5px;
            padding-top: 10px;
            width: 25%;
            position: relative;
            height: calc( 500px / 4 );
            float: left;

            .square{
                width: 100%;
                height: 100%;
                position: relative;
                background-color: white;
            }

            .square-black{

                background-color: black;
                width: 0;
                height: 0;
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin: auto;
                -webkit-transition: .3s;
                transition: .3s;

            }


        }
    
    }

}

