/* -------------------------- */
/* --------- COLOR ---------- */
/* -------------------------- */

.bg-blue-pastel{
    background-color: #2172c3 !important; 
}
.bg-red-pastel{
    background-color: #ff6961 !important;
}
.bg-magenta{
    background-color: #c32148 !important;
}
.bg-black{
    background-color: black;
}

/* -------------------------- */
/* --------- FUNKY ---------- */
/* -------------------------- */

.hidden{
    display: none;
}
.bottom--200vh{
    bottom: 200vh !important
}
.top--100vh{
    top: -100vh !important;
}
.top-100{
    top: -100px !important;
}
.top-0{
    top: 0 !important;
}
.bot-45{
    bottom: 45% !important;
}
.bot-0{
    bottom: 0 !important;
}
.bot-100{
    bottom: 100px !important;
}

.left-0{
    left: 0 !important;
}
.left--100{
    left: -100vw !important;
}
.right-0{
    right: 0 !important;
}
.opa-0-8{
    opacity: .8 !important
}
.opa-0-5{
    opacity: .5 !important
}
.opa-1{
    opacity: 1 !important;
}

.h-100{
    height: 100% !important;
}
.w-100{
    width: 100% !important;
}
.h-w-100{
    width: 100% !important;
    height: 100% !important;
}
.w-90{
    width: 90% !important;
}
.scale-1{
    -webkit-transform: scale( 1 ) !important;
    transform: scale( 1 ) !important;
}
.scale-4{
    -webkit-transform: scale( 4 ) !important;
    transform: scale( 4 ) !important;
}

/* -------------------------- */
/* -------- OVERLAY --------- */
/* -------------------------- */

.overlay{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
}
.overlay.black{
    background-color: rgba( 0,0,0,0.6 );
}


/* -------------------------- */
/* -------- WRAPPER --------- */
/* -------------------------- */

.wrapper{
    max-width: 90%;
    margin: auto;
    position: relative;
    height: 100%;
}


/* -------------------------- */
/* ---------- BTN ----------- */
/* -------------------------- */

.btn{
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    display: block;
    margin: auto;
    padding: 15px 55px;
    color:white;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;

    &:hover{
        transition: .3s;
        background-color: rgba( 255,255,255,0.8 );
    }
}

